<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title  -->
        <title>Yh's Shopping</title>

        <!--Bootstrap-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Favicon  -->
        <link rel="icon" href="/img/core-img/favicon.ico">

        <!-- Core Style CSS -->
        <link rel="stylesheet" href="/css/core-style.css">
        <link rel="stylesheet" href="/style.css">

    </head>

    <body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="/img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>
        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav mb-100">
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/product/list?keyword=">상품</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/cart/list">장바구니</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/users/loginForm">장바구니</a></li>
                    <li><a href="/qna/list">QnA</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/users/loginForm">로그인</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/users/signUp">회원가입</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/users/myPage">마이페이지</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="#" onclick="document.getElementById('logout-form').submit();">로그아웃</a>
                        <form id="logout-form" action="/logout" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        </form>
                    </li>
                </ul>
            </nav>

            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a target="_blank" href="https://github.com/Youngho62/shoppingmall"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="mailto:rladudgh337@naver.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                <a target="_blank" href="http://www.google.com"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->
</th:block>

