<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="~{fragment/header::header}"></th:block>
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">
                    <form id="f1" name="question" method="post" action="/users/loginForm">
                        <div class="form-group">
                            <label for="userId">사용자 아이디</label>
                            <input class="form-control" id="userId" name="username" placeholder="User ID">
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" checked="checked" class="form-check-input" id="exampleCheck1" name="remember-me">&nbsp;&nbsp;&nbsp;
                            <label class="form-check-label" for="exampleCheck1">로그인 유지</label>
                        </div>
                        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
                        <button id="logbtn" type="submit" class="btn btn-lg btn-success clearfix pull-right">로그인</button>
                        <a href="/users/signUp" class="btn btn-lg btn-dark pull-right">회원가입</a>
                        <div class="clearfix" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div></div>
<th:block th:insert="~{fragment/footer::footer}"></th:block>
<script type="text/javascript">
    $(document).ready(function () {
        $("#logbtn").click(function (e) {

            var userId=$("#userId").val();
            var userPw=$("#password").val();
            if(userId==""||userPw==""){
                if(userId==""){
                    e.preventDefault();
                    alert("아이디를 입력해주세요.");
                }else {
                    e.preventDefault();
                    alert("비밀번호를 입력해주세요.");
                }
            }
        });
    });
</script>
</html>

