<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="~{fragment/header::header}"></th:block>

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix" >

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix" th:each="product:${products}" th:with="i=${productStat.index}">
            <a th:href="@{/product/view(pno=${product.pno})}">
                <img th:src="@{/files/display(fileName=${product.mainPic})}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p style="color: #fbb710;line-height: 1; font-size: 30px" th:id="${'price'+i}">[[${product.price}]]</p>
                    <p style="font-size: 24px">[[${product.name}]]</p>
                    <p><br></p>
                    <p style="font-size: 24px; text-align:  ">[[${product.pHit+'views'}]]</p>
                </div>
            </a>
        </div>


    </div>
</div>
<th:block th:insert="~{fragment/footer::footer}"></th:block>
<script th:inline="javascript">
    var size=[[${products.size()}]];
    for(var i=0;i<size;i++){
        var price=numberWithCommas($("#price"+i).text());
        $("#price"+i).text("￦ "+price)
    }
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
</html>