<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="~{fragment/header::header}"></th:block>
<style>
    .form-control, .form-group, .btn{
        font-size:16px;
    }
</style>
<div class="container mt-30" id="main">
    <div>
        <div class="header-panel mb-30" style="height:1cm">
            <div class="alert alert-info"><strong style="font-size: 30px">QnA</strong></div>
        </div>
        <div class="panel-body mt-50">
            <form id="f1" action="/qna/modify" method="post">
                <div class="form-group">
                    <label for="qno">번호</label>
                    <input type="text" class="form-control" id="qno" name="qno" th:value="${vo.qno}" th:readonly="readonly">
                </div>
                <div style="display: inline-block" class="form-group">
                    <label class="pull-left">문의유형</label>
                    <select class='form-control' name="qnaKinds" id='qnaKeyword'>
                        <option th:selected="${vo.qnaKinds eq '배송'}" value='배송'>배송</option>
                        <option th:selected="${vo.qnaKinds eq '주문'}" value='주문'>주문</option>
                        <option th:selected="${vo.qnaKinds eq '회원'}" value='회원'>회원</option>
                        <option th:selected="${vo.qnaKinds eq '결제'}" value='결제'>결제</option>
                        <option th:selected="${vo.qnaKinds eq '기타'}" value='기타'>기타</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${vo.title}">
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea name="content" id="content" rows="10" class="form-control" th:text="${vo.content}"></textarea>
                </div>

                <div class="form-group">
                    <label for="writer">작성자</label>
                    <input name="writer" id="writer" class="form-control" th:value="${vo.writer}" th:readonly="readonly" >
                </div>

                <div class="form-group">
                    <label>RegDate</label>
                    <input class="form-control" name="regDate" th:value="${#dates.format(vo.regdate,'yyyy-MM-dd')}" readonly="readonly" />
                </div>
                <input type='hidden' name="page" th:value="${pageVO.page}">
                <input type='hidden' name="size" th:value="${pageVO.size}">
                <input type='hidden' name="type" th:value="${pageVO.type}">
                <input type='hidden' name="keyword" th:value="${pageVO.keyword}">
                <!--버튼-->
                <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-warning modbtn">수정</button>
                <a href="#" class="btn btn-danger  delbtn">삭제</a>
                <a th:href="@{ list(page=${pageVO.page},size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, qno = ${vo.qno})}"
                   class="btn btn-primary">목록</a>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="~{fragment/footer::footer}"></th:block>
<script th:inline="javascript">
    $(document).ready(function () {
        var formObj = $("#f1");
        $(".delbtn").click(function(){
            formObj.attr("action","delete");
            formObj.attr("method", "post");
            formObj.submit();
        });
        $(".modbtn").click(function(){
            formObj.attr("action","modify");
            formObj.attr("method", "post");
            formObj.submit();
        });
    });
</script>
</html>